* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 20px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(131, 56, 56, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 150vw;
  height: 80vh;
}

.btn {
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(9, 48, 59);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

 .ima{
  padding-bottom: 10px;
  font-size: 20px;
}

.text-input, .text-input2 {
  border-radius: 3px;
  display: block;
  text-overflow: initial;
  border:none;
  background: rgb(54, 54, 54);
  color: #ffff;
  font-size: 1.2em;
  resize: none;
}

textarea{
  padding: 12px 20px;
}

footer{
  margin-top: 30px;
  width: 100%;
  padding: 10px 10px;
  background: #323332;
  text-align: center;
  color: #ffff;
}

footer a{
  color: rgb(58, 138, 212);
}


@media (max-width: 788px) {
  h1{
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
  }
  main{
    max-width: 500px;
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 20px;
  }
  .box{
    width: 95%;
    height: 90%;
    margin-bottom: 20px;
  }
  textarea{
    width: 100%;
  }
  
}
